html,
body {
  width: 100%;
  height: 100%;
  /* font-family: 'GTWalsheim'; */
}

/* use this class to attach this font to any element i.e. <p class="fontsforweb_fontid_5903">Text with this font applied</p> */
/* .fontsforweb_fontid_5903 {
  font-family: "gothambold1" !important;
} */

/* Font downloaded from FontsForWeb.com */

a {
  color: #6bbddd;
  transition: all 0.35s;
}

a:hover,
a:focus {
  color: #fcbd20;
}

hr {
  margin-top: 0px !important;
  margin-bottom: 0px !important;
  height: 2px !important;
  border-width: 0 !important;
  color: #a54e65 !important;
  background-color: #a54e65 !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  /* font-family: "GTWalsheim" !important; */
  font-weight: 200;
  letter-spacing: 1px;
}

/* p {
  font-size: 1.1rem;
  line-height: 1.5;
  font-family: "gothambold1" !important;
} */

section {
  padding: 100px 0;
}

/* section h2 {
  font-size: 50px;
} */

section.learnmore h2 {
  font-size: 4.2rem;
  /* font-family: "Bebas Neue", cursive; */
}

section.guide .number {
  font-size: 4.2rem;
  /* font-family: "Bebas Neue", cursive; */
}

section.instruction .number {
  font-size: 4.2rem;
  /* font-family: "Bebas Neue", cursive; */
}

section.learnmore3 h2 {
  font-size: 4.2rem;
  /* font-family: "Bebas Neue", cursive; */
}

section.guide h2 {
  font-size: 4.2rem;
  /* font-family: "Bebas Neue", cursive; */
}

section.instruction h2 {
  font-size: 4.2rem;
  /* font-family: "Bebas Neue", cursive; */
}

section.learnmore3 h3 {
  font-size: 2.5rem;
  /* font-family: "Bebas Neue", cursive; */
  margin-top: -20px;
}

section.learnmore3 .title-header {
  padding-top: 100px;
}

section.learnmore h4 {
  /* font-family: "Bebas Neue", cursive; */
  font-size: 1.7rem;
}
/* 
#mainNav {
  border-color: rgba(34, 34, 34, 0.05);
  background-color: white;
  transition: all 0.35s;
  font-family: "Catamaran", "Helvetica", "Arial", "sans-serif";
  font-weight: 200;
  letter-spacing: 1px;
}

#mainNav .navbar-brand {
  color: #6bbddd;
  font-family: "Catamaran", "Helvetica", "Arial", "sans-serif";
  font-weight: 200;
  letter-spacing: 1px;
}

#mainNav .navbar-brand:hover,
#mainNav .navbar-brand:focus {
  color: #fcbd20;
}

#mainNav .navbar-toggler {
  font-size: 12px;
  padding: 8px 10px;
  color: #222222;
}

#mainNav .navbar-nav > li > a {
  font-size: 11px;
  font-family: "Lato", "Helvetica", "Arial", "sans-serif";
  letter-spacing: 2px;
  text-transform: uppercase;
}

#mainNav .navbar-nav > li > a.active {
  color: #6bbddd !important;
  background-color: transparent;
}

#mainNav .navbar-nav > li > a.active:hover {
  background-color: transparent;
}

#mainNav .navbar-nav > li > a,
#mainNav .navbar-nav > li > a:focus {
  color: #222222;
}

#mainNav .navbar-nav > li > a:hover,
#mainNav .navbar-nav > li > a:focus:hover {
  color: #6bbddd;
} */

/* @media (min-width: 992px) {
  #mainNav {
      border-color: transparent;
      background-color: transparent;
  }
  #mainNav .navbar-brand {
      color: fade(white, 70%);
  }
  #mainNav .navbar-brand:hover,
  #mainNav .navbar-brand:focus {
      color: white;
  }
  #mainNav .navbar-nav > li > a,
  #mainNav .navbar-nav > li > a:focus {
      color: rgba(255, 255, 255, 0.7);
  }
  #mainNav .navbar-nav > li > a:hover,
  #mainNav .navbar-nav > li > a:focus:hover {
      color: white;
  }
  #mainNav.navbar-shrink {
      border-color: rgba(34, 34, 34, 0.1);
      background-color: white;
  }
  #mainNav.navbar-shrink .navbar-brand {
      color: #222222;
  }
  #mainNav.navbar-shrink .navbar-brand:hover,
  #mainNav.navbar-shrink .navbar-brand:focus {
      color: #6bbddd;
  }
  #mainNav.navbar-shrink .navbar-nav > li > a,
  #mainNav.navbar-shrink .navbar-nav > li > a:focus {
      color: #222222;
  }
  #mainNav.navbar-shrink .navbar-nav > li > a:hover,
  #mainNav.navbar-shrink .navbar-nav > li > a:focus:hover {
      color: #6bbddd;
  }
} */

.crk-logo-img {
  height: 35px !important;
}

.sublogo {
  position: absolute;
  height: 39px;
  top: 45px;
  left: 106px;
}

header.masthead {
  position: relative;
  width: 100%;
  padding-top: 150px;
  padding-bottom: 100px;
  color: white;
  background: url("../img/WTAO HOME_BG.png");
  background-repeat: no-repeat;
  background-size: cover;
}

header.learnmore-1 {
  position: relative;
  width: 100%;
  padding-top: 150px;
  padding-bottom: 100px;
  color: white;

  background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.4) 0%,
      rgba(0, 0, 0, 0.4) 100%
    ),
    url(../assets/img/bg1.jpg);

  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.8;
}

header.about-us {
  position: relative;
  width: 100%;
  padding-top: 150px;
  padding-bottom: 100px;
  color: white;

  background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.4) 0%,
      rgba(0, 0, 0, 0.4) 100%
    ),
    url(../assets/img/bg6.jpg);

  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.8;
}


section.learnmore-2 {
  position: relative;
  width: 100%;
  height: 100%;
  color: white;
  background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.4) 0%,
      rgba(0, 0, 0, 0.4) 100%
    ),
    url(../assets/img/bg2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.8;
}

section.learnmore-3 {
  position: relative;
  width: 100%;
  height: 100%;
  color: white;
  background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.4) 0%,
      rgba(0, 0, 0, 0.4) 100%
    ),
    url(../assets/img/bg3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.8;
}

section.learnmore-4 {
  position: relative;
  width: 100%;
  height: 100%;
  color: white;
  background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.4) 0%,
      rgba(0, 0, 0, 0.4) 100%
    ),
    url(../assets/img/bg4.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.8;
}

section.learnmore-5 {
  position: relative;
  width: 100%;
  height: 100%;
  color: white;
  background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.4) 0%,
      rgba(0, 0, 0, 0.4) 100%
    ),
    url(../assets/img/bg5.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.8;
}

header.registration {
  position: relative;
  width: 100%;
  padding-top: 150px;
  padding-bottom: 100px;
  color: white;
  /* background: url("../img/WTAO HOME_BG.png");
  background-repeat: no-repeat;
  background-size: cover; */
  background-color: #fff;
}

header.masthead .header-content,
header.learnmore-1 .header-content,
header.about-us .header-content {
  /* max-width: 500px; */
  /* margin-bottom: 100px; */
  text-align: center;
}

header.learnmore-1 .header-content,
header.about-us .header-content {
  /* max-width: 500px; */
  margin-bottom: 0px;
  text-align: center;
}

header.registration .header-content {
  margin-bottom: 40px;
  text-align: center;
}

/* header.masthead .header-content h1 {
  font-size: 30px;
} */

section.learnmore {
  position: relative;
  width: 100%;
  padding-top: 150px;
  padding-bottom: 100px;
  color: white;
  background: url("../img/WTAO\ HOME_BG.png");
  background-repeat: no-repeat;
  background-size: cover;
}

section.learnmore3 {
  position: relative;
  width: 100%;
  padding-top: 150px;
  padding-bottom: 100px;
  color: white;
  background: url("../img/main/green-bg.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

section.instruction {
  position: relative;
  width: 100%;
  /* padding-top: 150px; */
  padding-bottom: 100px;
  color: white;
  background: url(/img/green-bg.svg?1009b80…);
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: -52px;
}

section.guide {
  position: relative;
  width: 100%;
  padding-top: 150px;
  padding-bottom: 100px;
  color: white;
  background: url("../img/orange-bg.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

section.register {
  position: relative;
  width: 100%;
  /* padding-top: 150px; */
  padding-bottom: 100px;
  color: white;
  background: url("../img/register/bg.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

section.learnmore .header-content {
  max-width: 500px;
  margin-bottom: 100px;
  text-align: center;
}

section.learnmore .header-content h1 {
  font-size: 30px;
}

section.learnmore .device-container {
  max-width: 325px;
  margin-right: auto;
  margin-left: auto;
}

section.learnmore .device-container .screen img {
  border-radius: 3px;
}

@media (min-width: 992px) {
  header.masthead,
  header.learnmore-1,
  header.about-us,
  section .learnmore-2,
  section .learnmore-3,
  section .learnmore-4,
  header.registration,
  section.learnmore,
  section.register,
  section.learnmore3,
  section.guide {
    height: 100vh;
    min-height: 775px;
    padding-top: 0;
    padding-bottom: 0;
  }
  section.learnmore .header-content,
  header.masthead .header-content,
  header.learnmore-1 .header-content,
  header.about-us .header-content,
  header.registration .header-content {
    margin-bottom: 0;
    text-align: left;
  }

  section.learnmore .header-content h1,
  header.masthead .header-content h1,
  header.learnmore-1 .header-content h1,
  header.about-us .header-content h1,
  header.registration .header-content h1 {
    font-size: 7.5rem;
    /* font-family: "Bebas Neue", cursive; */
    line-height: 100px;
    text-align: right;
    margin-top: 100px;
  }

  header.masthead .header-content h2 {
    font-size: 4rem;
    /* font-family: "DIN Condensed"; */
    line-height: 100px;
    margin-top: 100px;
  }

  header.learnmore-1 .header-content h2 {
    font-size: 4rem;
    line-height: 100px;
    margin-top: 100px;
    font-family: Arial, Helvetica, sans-serif;
  }

  header.about-us .header-content h2 {
    font-size: 4rem;
    line-height: 100px;
    margin-top: 100px;
    font-family: Arial, Helvetica, sans-serif;
  }

  header.masthead .header-content p {
    font-family: "Roboto", sans-serif !important;
  }

  header.learnmore-1 .header-content p {
    font-family: "Roboto", sans-serif !important;
    margin-top: 100px;
    font-size: 1.8rem !important;
  }

  header.about-us .header-content p {
    font-family: "Roboto", sans-serif !important;
    margin-top: 100px;
    font-size: 1.8rem !important;
  }

  section.learnmore .device-container header.masthead .device-container {
    max-width: 325px;
  }
}

section.download {
  position: relative;
  padding: 150px 0;
}

section.download h2 {
  font-size: 50px;
  margin-top: 0;
}

section.download .badges .badge-link {
  display: block;
  margin-bottom: 25px;
}

section.download .badges .badge-link:last-child {
  margin-bottom: 0;
}

section.download .badges .badge-link img {
  height: 60px;
}

@media (min-width: 768px) {
  section.download .badges .badge-link {
    display: inline-block;
    margin-bottom: 0;
  }
}

@media (min-width: 768px) {
  section.download h2 {
    font-size: 70px;
  }
}

section.features .section-heading {
  margin-bottom: 100px;
}

section.features .section-heading h2 {
  margin-top: 0;
}

section.features .section-heading p {
  margin-bottom: 0;
}

section.features .device-container,
section.features .feature-item {
  max-width: 325px;
  margin: 0 auto;
}

section.features .device-container {
  margin-bottom: 100px;
}

@media (min-width: 992px) {
  section.features .device-container {
    margin-bottom: 0;
  }
}

section.features .feature-item {
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
}

section.features .feature-item h3 {
  font-size: 30px;
}

section.features .feature-item i {
  font-size: 80px;
  display: block;
  margin-bottom: 15px;
  background: linear-gradient(to left, #7b4397, #dc2430);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media (min-width: 768px) {
  section.cta .cta-content h2 {
    font-size: 80px;
  }
}

section.cta .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

section.contact {
  text-align: center;
}

section.contact h2 {
  margin-top: 0;
  margin-bottom: 25px;
}

section.contact h2 i {
  color: #dd4b39;
}

section.contact ul.list-social {
  margin-bottom: 0;
}

section.contact ul.list-social li a {
  font-size: 40px;
  line-height: 80px;
  display: block;
  width: 80px;
  height: 80px;
  color: white;
  border-radius: 100%;
}

section.contact ul.list-social li.social-twitter a {
  background-color: #1da1f2;
}

section.contact ul.list-social li.social-twitter a:hover {
  background-color: #0d95e8;
}

section.contact ul.list-social li.social-facebook a {
  background-color: #3b5998;
}

section.contact ul.list-social li.social-facebook a:hover {
  background-color: #344e86;
}

section.contact ul.list-social li.social-google-plus a {
  background-color: #dd4b39;
}

section.contact ul.list-social li.social-google-plus a:hover {
  background-color: #d73925;
}

footer {
  padding: 25px 0;
  text-align: center;
  color: rgba(255, 255, 255, 0.3);
  background-color: #222222;
}

footer p {
  font-size: 12px;
  margin: 0;
}

footer ul {
  margin-bottom: 0;
}

footer ul li a {
  font-size: 12px;
  color: rgba(255, 255, 255, 0.3);
}

footer ul li a:hover,
footer ul li a:focus,
footer ul li a:active,
footer ul li a.active {
  text-decoration: none;
}

.bg-primary {
  background: #6bbddd;
  background: linear-gradient(#6bbddd, #fdc539);
}

.text-primary {
  color: #6bbddd;
}

.no-gutter > [class*="col-"] {
  padding-right: 0;
  padding-left: 0;
}

.btn-outline {
  color: white !important;
  border: 1px solid !important;
  border-color: white !important;
}

.btn-outline:hover,
.btn-outline:focus,
.btn-outline:active,
.btn-outline.active {
  color: rgb(108, 108, 108) !important;
  border-color: #e0e0e0;
  background-color: #e0e0e0;
}

.btn {
  /* border-radius: 300px !important; */
  /* font-family: "gothambold1" !important; */
  letter-spacing: 2px !important;
  text-transform: uppercase;
}

.btn-yellow {
  color: #141070 !important;
  background-color: #ffcc00 !important;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}

.btn-xl {
  font-size: 1rem !important;
  min-width: 190px !important;
}

.start-buttons {
  margin-top: -90px;
}

.page-title {
  /* font-family: "Bebas Neue", cursive; */
  font-size: 5rem;
  /* margin-top: 50px; */
}

.card-container {
  padding-top: 50px;
}

.registration-card-header {
  background: rgb(66, 156, 169);
  background: -moz-linear-gradient(
    90deg,
    rgba(66, 156, 169, 1) 25%,
    rgba(164, 219, 159, 1) 65%
  );
  background: -webkit-linear-gradient(
    90deg,
    rgba(66, 156, 169, 1) 25%,
    rgba(164, 219, 159, 1) 65%
  );
  background: linear-gradient(
    90deg,
    rgba(66, 156, 169, 1) 25%,
    rgba(164, 219, 159, 1) 65%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#429ca9",endColorstr="#a4db9f",GradientType=1);
  border-bottom: unset !important;
  /* font-family: "gothambold1" !important; */
  text-transform: uppercase;
  font-size: 1.7rem;
}

.card-body {
  color: #808080 !important;
  /* min-height: 411px !important; */
  padding: 20px 0px 0px 0px !important;
}

.btn-back {
  min-width: 80px !important;
  color: rgb(108, 108, 108) !important;
  border-color: #e0e0e0 !important;
  background-color: #e0e0e0 !important;
}

.btn-next {
  min-width: 80px !important;
  color: rgb(255, 255, 255) !important;
  border-color: #e0e0e0 !important;
  background-color: #6445b9 !important;
}

.min-height {
  min-height: 411px !important;
}

/* .side-padding {
  padding-left: 100px !important;
  padding-right: 100px !important;
} */

.passport-holder {
  border: 1px solid #e2e2e2 !important;
  height: 300px !important;
  width: 300px !important;
  position: relative;
}

.passport-holder > img {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  padding: 10px;
}

.image-preview {
  max-width: 100%;
  max-height: 100%;
}

.label-required {
  color: rgb(255, 46, 46);
}

label {
  color: #000000;
  /* font-family: "GTWalsheim"; */
  font-size: 14px;
  font-weight: 700;
}

.qr-holder {
  float: right;
}
@media (max-width: 992px) {
  .page-title {
    font-size: 3rem !important;
    text-align: center !important;
  }

  .side-padding {
    padding-left: 0px !important;
    padding-right: 0px !important;
  }

  .card-container {
    padding-left: 0px !important;
    padding-right: 0px !important;
  }

  .registration-card-header {
    font-size: 1rem !important;
  }

  header.masthead .header-content h1,
  header.registration .header-content h1,
  header.learnmore-1 .header-content h1,
  header.about-us .header-content h1 {
    font-size: 3.5rem !important;
    /* font-family: "Bebas Neue", cursive; */
    /* line-height: 100px; */
    text-align: center !important;
    /* margin-top: 100px; */
  }

  .start-buttons {
    display: flex;
    justify-content: center;
  }

  .thank-you-label {
    font-size: 4rem !important;
    text-align: center !important;
  }
  .qr-holder {
    float: unset !important;
    margin: 0 auto;
    display: table;
  }

  section.learnmore3 .title-header {
    padding-top: 0px !important;
  }

  header.masthead .header-content h2 {
    font-size: 3rem;
    /* font-family: "DIN Condensed"; */
  }

  header.masthead .header-content p {
    font-family: "Roboto", sans-serif !important;
  }

  header.masthead {
    padding-top: 80px !important;
  }

  header.registration {
    padding-top: 60px;
  }

  .step-indicator {
    margin-top: 0px !important;
    padding: unset !important;
    padding-bottom: 20px !important;
  }
  .learnmore-title h1 {
    font-size: 2rem !important;
  }

  .sublogo {
    display: none;
  }
}

input,
textarea,
select {
  text-transform: uppercase;
  /* font-family: "GTWalsheim"; */
}

input[type="email"] {
  text-transform: unset !important;
}

.we {
  color: #0015e1;
}

.test {
  color: #000000;
}

.as {
  color: #ff0000;
}

.one {
  color: #ffcc00;
}

.form-title-header {
  color: #902843;
  font-size: 18px;
  /* font-family: "GTWalsheim"; */
  font-weight: bold;
}

.card {
  border: unset !important;

  background-color: #f8f9fb !important;
}

/* .navbar{
  background-color: #fff !important;
} */

.custom-toggler.navbar-toggler {
  border-color: rgb(255, 0, 0);
}

/* Setting the stroke to green using rgb values (0, 128, 0) */

.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,<svg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'><path stroke='rgb(255,0,0)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/></svg>");
}

.learnmore-title h1 {
  font-size: 3rem;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 900;
}

section.learnmore-2 img,
section.learnmore-3 img,
section.learnmore-4 img {
  height: 120px;
  margin-top: 100px;
}

section.learnmore-2 h4,
section.learnmore-3 h4,
section.learnmore-4 h4 {
  font-size: 1.2rem;
  padding-top: 20px;
  font-family: "Roboto", sans-serif;
}

section.learnmore-3 p {
  font-size: 1.1rem;
  font-family: "Roboto", sans-serif !important;
}

.form-control-sm {
  height: calc(1.5em + 0.5rem + 4px) !important;
}

input[type="text"],
input[type="date"],
textarea,
select {
  outline: none;
  box-shadow: none !important;
  border: 1px solid #ccc !important;
}

h2.title {
  color: #ffcc00;
}

.side-text-line {
  display: block;
  width: 60px;
  height: 3px;
  background: #fff;
  margin: 20px 0px;
}
